$text-colour: #fff;
$free: #12b657;
$busy: #ed1c24;

body {
  color: $text-colour;
  font-family: nta, arial, sans-serif;
  padding: 2% 2% 0;
}

.free {
  background-color: $free;
}

.busy {
  background-color: $busy;
}

.room-name {
  float: left;
  font-size: 4em;
  margin-bottom: 2%;
  width: 70%;
}

.time {
  float: right;
  font-size: 4em;
  text-align: right;
  width: 30%;
}

.availability {
  font-size: 12em;
  line-height: 1;
}

.details {
  clear: both;
  font-size: 1.4em;
  line-height: 1.5;
  width: 80%;

  h2 {
    font-size: 2em;
    margin-bottom: 2%;
  }
}

.indent {
  border-left: 5px solid $text-colour;
  padding-left: 2%;

  span {
    display: block;
  }
}

.beta-banner {
  bottom: 0;
  font-size: 1.4em;
  margin-bottom: 2%;
  margin-right: 2%;
  opacity: .3;
  position: absolute;
  right: 0;
}
