<lasso-page package-path="./browser.json"></lasso-page>
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>YO</title>
    <lasso-head/>
  </head>
  <body class="free">
    <div id="time">${new Date().toISOString().substr(11, 5)}</div>
    FREE

    Up next:
    BSP Meeting: 12:30 - 13:30
    Booked by: Craig Abbott
    <lasso-body/>
  </body>
</html>