html, body, h1, h2, div, span {
  font-size: 100%;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  background-color: #12b657;
  color: #fff;
  cursor: none;
  font-family: nta, sans-serif;
  line-height: 1;
  padding: 2% 2% 0;
}

.broken {
  box-sizing: border-box;
  background: #000;
  min-height: 100%;
}

.broken h1 {
  font-size: 1.3em;
  color: #fff;
  font-family: monospace;
}

.user {
  color: #0f0;
}

.tilde {
  color: #63f;
}

.busy {
  background-color: #ed1c24;
}

.room-name {
  float: left;
  font-size: 4em;
  margin-bottom: 2%;
  width: 70%;
}

.time {
  float: right;
  font-size: 4em;
  text-align: right;
  width: 30%;
}

.availability {
  font-size: 12em;
  line-height: 1;
}

.details {
  clear: both;
  font-size: 1.4em;
  line-height: 1.5;
  width: 80%;
}

.details h2 {
  font-size: 2em;
  margin-bottom: 2%;
}

.indent {
  border-left: 5px solid #fff;
  padding-left: 2%;
}

.indent span {
  display: block;
}

.beta-banner {
  bottom: 0;
  font-size: 1.4em;
  margin: 2%;
  opacity: .5;
  position: absolute;
  right: 0;
}
